.browse-container {
  padding-bottom: 20px;
}

.browser-header-text {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.browse-assessments-nav {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.browse-nav-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 40%;
}

.browse-buttons {
  border: 0;
  color: white;
  background-color: #d64545;
  height: 40px;
  width: 150px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
}

.browse-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.browse-col {
  background-color: grey;
  height: 300px;
  width: 350px;
  margin-right: 20px;
  border-radius: 10px;
}
